/**
 * @name Excord
 * @author Excurze
 * @version 6.2.1
 * @description Clean and nice Design to relax :3
 * @source 
 * @website 
 * @invite XnJu3PS3
 */

/* IMPORT CSS */

@import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css);
@import url("https://excurze.github.io/importexcord/excord.css");


/* SETTINGS */
:root {

         --version2_0: none;
	/* Horizontal Servers List */
	--HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
	--HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */

	/* ACCENT COLORS */
	--main-color: #ff3f41; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #cc2e2f; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */	
	--url-color: var(--main-color); /*The color of url links [default: var(--main-color)]*/

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--text-normal: rgb(220, 221, 222); /* color of default discord text */
	--text-muted:  rgb(114, 118, 125); /* color of default discord muted text (e.g.text found in input fields before typing).*/
	--channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 220px; /* member list width [default: 240px] */

	/* APP BACKGROUND */
	--background-shading: 100%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgba(0, 0, 0, 0.6); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: url(https://wallpapercave.com/wp/wp3274901.jpg); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0px; /* app background blur [default: 0px] */
	
	/* HOME BUTTON ICON */
	--home-icon: url(https://clearvision.gitlab.io/icons/discord.svg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.gitlab.io/icons/discord.svg)]*/
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 40px; /* home button icon size [default: 40px] */
		
	/* CHANNEL COLORS */
	--channel-unread: var(--main-color); /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
	--channel-color:  rgba(255,255,255,0.3); /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
	--channel-text-selected: #fff; /* Selected channel text color, CV default is #fff */
	--muted-color: rgba(255,255,255,0.1); /*Muted channel color  [default: rgba(255,255,255,0.1);]*/
	
	/* MODAL BACKDROP */
	--backdrop-overlay: rgba(0, 0, 0, 0.8); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
	--backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(---background-image)] */
	--backdrop-position: var(--background-position); /* modal backdrop position [default: var(---background-position)] */
	--backdrop-size: var(--background-size); /* modal backdrop size [default: var(---background-size)] */
	--backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(---background-repeat)] */
	--backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
	--backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(---background-contrast)] */
	--backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(---background-saturation)] */
	--backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(---background-invert)] */
	--backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(---background-grayscale)] */
	--backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(---background-sepia)] */
	--backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */
	
	/* USER POPOUT BACKGROUND */
	--user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-popout-position: var(--background-position); /* user popout background position [default: var(---background-position)] */
	--user-popout-size: var(--background-size); /* user popout background size [default: var(---background-size)] */
	--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(---background-repeat)] */
	--user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
	--user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(---background-contrast)] */
	--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(---background-saturation)] */
	--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(---background-invert)] */
	--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
	--user-popout-overlay: rgba(0, 0, 0, .65); /* user popout overlay color [default: rgba(0, 0, 0, .65)] */
	
	/* USER MODAL BACKGROUND */
	--user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-modal-position: var(--background-position); /* user modal background position [default: var(---background-position)] */
	--user-modal-size: var(--background-size); /* user modal background size [default: var(---background-size)] */
	--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(---background-repeat)] */
	--user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
	--user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(---background-contrast)] */
	--user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(---background-saturation)] */
	--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(---background-invert)] */
	--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* THEME BD COLORS */
	--bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
	--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
	--bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */

	/* CUSTOM VARIABLES */
	--panels-opacity: rgba(0, 0, 0, 0.7);   /* Panels opacity */
	--loading-gif: url(https://imgur.com/x4fg0Qv.gif); /* Loading gif */
	--general-margin: 20px;      /* App margin [default: 20px]*/
	--between-panels-margin: 10px;  /* margin between panels [default: 10px]*/
	--panels-radius: 10px;          /* radius of various elements [default: 10px]*/
	--icons-roundness: 15%;         /* roundness of various icons/avatars around the app [default: 15%]*/
}


.container-1r6BKw .children-19S4PO .nicknames-1XK4Zt{
	display: none !important;
	}
	.container-1r6BKw .children-19S4PO .status-1XNdyw{
	display: none !important;
	}
	.akaBadge-1M-1Gw{
	display: none !important;
	}
	.container-1r6BKw .children-19S4PO{
	flex: none;
	min-width: 230px;
	}
	.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1{
	margin: 0 10px 0 0;
	}
	.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .icon-22AiRD{
	width: 20px;
	}
	.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .channelName-qsg_a_{
	margin: 0;
	}
	.container-1r6BKw .children-19S4PO h3{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	user-select: none;
	line-height: normal;
	flex: 1;
	}
	.divider-3FBTu8{
	display: none;
	}
	.container-1r6BKw .children-19S4PO h3:before{
	display: block;
	content: "Channel Name";
	font-size: 11px;
	}
	.container-1r6BKw:hover > .children-19S4PO h3:before{
	content: "Click for more details (if possible)";
	}
	#app-mount .container-1r6BKw.themed-ANHk51 .children-19S4PO .topic-TCb_qw{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	}
	.container-1r6BKw .search-36MZv-{
	margin-top: 4px;
	margin-left: -18px;
	}
	.container-1r6BKw .toolbar-1t6TWx{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	border-right: 1px solid #6f727d;
	border-left: 1px solid #6f727d;
	}
	.container-1r6BKw .toolbar-1t6TWx .iconWrapper-2OrFZ1{
	margin: 0px 10px;
	}
	.container-1r6BKw .searchBar-3dMhjb{
	padding: 0 !important;
	overflow: visible;
	background: transparent;
	}
	.container-1r6BKw .DraftEditor-root{
	padding: 0 10px 0 28px;
	margin-top: 3px;
	}
	

.message-2qnXI6:hover .reactionCount-2mvXRV {
    font-size: 14px;
    transform: translate(0px);
    transition-delay: 0s;
}
.message-2qnXI6:hover .reaction-1hd86g {
    max-width: 90px;
    width: auto;
}
.reaction-1hd86g {
    max-width: 30px;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
.reactionCount-2mvXRV {
    font-size: 0px;
    transition-duration: 0.2s;
    transform: translate(-20px);
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}



.content-yTz4x3:before { /* Fix topbar shadow */
    z-index: 12;
    }
    [class*="membersWrap-"] {
    margin-right: -155px;
    transition: transform .35s;
    z-index: 10;
    }
    [class*="membersWrap-"]:hover,
    [class*="membersWrap-"]:focus,
    [class*="membersWrap-"]:focus-within {
    transform: translatex(-175px);
    }
    [class*="membersWrap-"] > [class*="members-"] {
    background-color: rgba(0, 0, 0, .6);;
    transition: background-color .2s;
    max-width: 200vw;
    }
    [class*="membersWrap-"] > [class*="members-"] > div {
    background: none !important;
    }
    
    [class*="membersWrap-"]:hover > [class*="members-"],
    [class*="membersWrap-"]:focus-within > [class*="members-"] {
    background-color: rgba(0, 0, 0, .6);
    }
    [class*="membersWrap-"] [class*="membersGroup-"] {
    margin-right: auto;
    width: 50px;
    text-overflow: clip;
    direction: rtl;
    word-spacing: 100px;
    }
    [class*="membersWrap-"]:hover [class*="membersGroup-"],
    [class*="membersWrap-"]:focus-within [class*="membersGroup-"] {
    width: 100%;
    margin: 0;
    direction: ltr;
    word-spacing: unset;
    text-overflow: ellipsis;
    }
    [class*="membersWrap-"] [class*="member-"] [class*="content-"] {
    filter: opacity(0);
    transition: filter .2s;
    }
    [class*="membersWrap-"]:hover [class*="membersGroup-"],
    [class*="membersWrap-"]:focus-within [class*="membersGroup-"],
    [class*="membersWrap-"]:hover [class*="member-"] [class*="content-"],
    [class*="membersWrap-"]:focus-within [class*="member-"] [class*="content-"] {
    filter: opacity(1);
    }

